$red-700: #96242f;
$primary: $red-700;
$enable-negative-margins: true;

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.link-headings {
  @extend .mt-1;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1rem 0; 
}

/* Thin out the marketing headings */
.featurette-heading {
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 20em) {
  .featurette-heading {
    font-size: 30px;
    margin-top: 1rem;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

.paragraph-margin {
  margin-bottom: 10px;
}

/*Interests Page*/
.interests-header {
  max-width: 700px;
  @extend .px-3;
  @extend .py-3;
  @extend .mx-auto;
  @extend .text-center;
}

/*Cards UI*/
.cards-container {
  @extend .container-fluid;
  @extend .d-flex;
  @extend .justify-content-center;
}

.cards-column {
  @extend .col-lg-4;
  @extend .mb-2;
  @extend .d-flex;
}

.cards {
  width: 18rem;
  @extend .mx-auto;
  @extend .flex-fill;
}

.cards-body {
  @extend .d-flex;
  @extend .flex-column;
}



@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons';
